

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* width: 100%; */
  width: 150px;
}

a {
  text-decoration: none;
  color: black;
}

a svg {
  width: 150px;
  color: cadetblue;
}